
<a href="#"><button type="button" style="float: right;" class="btn btn-secondary">Add Movie</button></a>

<h1>All Movie Data</h1>
<table>
    <thead>
        <tr>
            <th>Poster</th>
            <th>Title</th>
            <th>Full Plot</th>
            <th>Runtime</th>
            <th>Category</th>
            <th>Released Date</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td><img src="{{poster}}" style="height: 40px; width: 40px;" alt="Poster"></td>
            <td><a href="/api/movies/{{_id}}">{{title}}</a></td>
            <td>{{fullplot}}</td>
            <td>{{runtime}}</td>
            <td>{{type}}</td>
            <td>{{year}}</td>
            <td><a href="/api/movies/edit/{{_id}}"><button type="button" class="btn btn-primary">Edit</button></a></td>
            <td>
                <form id="deleteForm" action="/api/movies/delete/{{_id}}?_method=DELETE " method="POST">
                    <button type="submit" onclick="return confirm('Do you want to delete this Movie?')" class="btn btn-danger">Delete</button>
                </form>
            </td>

        </tr>
        {{/each}}
    </tbody>

</table>
<div>
    <p>Page {{page}} of {{totalPages}}</p>
    {{#if prevPage}}
    <a href="/?page={{prevPage}}"><button type="button" class="btn btn-primary">Previous</button></a>
    {{/if}}
    {{#if nextPage}}
    <a href="/?page={{nextPage}}"><button type="button" class="btn btn-primary">Next</button></a>
    {{/if}}
</div>
